<%# byebug %>
<div class="container px-5 px-sm-0">
    <div class="row">
      <h1>
        Books search for "<%= @text %>"
      </h1>
      <table class="table">
        <% if @faculty == 'User' %>
        <thead>
            <tr>
              <th>name</th>
            </tr>
        </thead>
         <% @users.each do |user| %>
          <tbody>
            <tr>
              <td>
                <%= link_to user.name, user_path(user.id) %>
              </td>
            </tr>
          </tbody>
          <% end %>
        <% else %>
        <thead>
            <tr>
              <th>Title</th>
              <th>Option</th>
            </tr>
        </thead>
        <% @books.each do |book| %>
          <tbody>
            <tr>
              <td>
                <%= link_to book.title, book_path(book.id) %>
              </td>
              <td>
                <%= book.body %>
              </td>
            </tr>
          </tbody>
          <% end %>
        <% end %>
      </table>
    </div>
</div>
